@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hotel Management System</h1>
        <p class="lead">You are on the admin page of "Async Inn" chain. You can manage hotel locations, rooms, and amenities here</p>
    </div>
</div>
    <ul class="nav justify-content-center">
        <li class="nav-link">@Html.ActionLink("Manage Rooms", "Index", "Rooms")</li>
        <li class=nav-link>@Html.ActionLink("Manage Hotels", "Index", "Hotels")</li>
        <li class=nav-link>@Html.ActionLink("Manage Amenities", "Index", "Amenities")</li>
        <li class=nav-link>@Html.ActionLink("Manage Rooms in Hotels", "Index", "RoomsInHotels")</li>
    </ul>