<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">@Html.ActionLink("Hotel Management System", "Index", "Home")</h1>
        <p class="lead">You are on the admin page of "Async Inn" chain management system. You can manage hotel locations, rooms, and amenities here</p>
    </div>
</div>
