<!--TODO: Add link to home in menu -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <partial name="_Header.cshtml" />
    <partial name="_Nav.cshtml" />
    <div class="container" id="main">
        @RenderBody()
    </div>
    @if(IsSectionDefined("Scripts")) { RenderSection("Scripts"); }
</body>
</html>
